*Sottosistema di persistenza da istanziare*
PersistenceService
WIN.FENGEST_NAZIONALE.VB.PERSISTENCE.dll

*Classe di facciata che offre tutti i servizi per la persistenza nel sottosistema istanziato*
PersistenceFacadeService
WIN.FENGEST_NAZIONALE.VB.PERSISTENCE.PersistenceFacade


*Numero di elementi conservati nella cache*
MaxCacheSize
10000

*Stringa di connessione*
ConnectionString
Server=localhost;Database=feneal;Uid=root;password=RegUsr;


*Tipo di servizio
ServiceName
MySql